@use '../../_theme.scss';

window.bar {
	background: transparent;
	font-weight: 400;
	font-size: 14px;
	color: theme.$text;

	> centerbox {
		margin: 6px 8px;
	}

	.group,
	button {
		border-radius: 16px;
		padding: 2px 12px;
		background-color: theme.$background-secondary;
		border: 2px solid theme.$background-secondary;

		transition:
			background-color 0.3s ease,
			border-color 0.3s ease;

		&.privacy {
			border-color: theme.$orange;
		}
	}

	button {
		&.icon {
			background: none;
			padding: 0px;
		}

		&:not(.icon) {
			&:hover {
				background-color: theme.$primary;
				border-color: theme.$primary;
			}
		}
	}
}
