// Vendored from https://github.com/ghostdevv/ghostsui/blob/v2/packages/ghostsui/src/theme/_colours.scss

$text: #eeeeee;
$text-grey: #969697;

$background-primary: #121214;
$background-secondary: #212123;
$background-tertiary: #29292a;

$primary: #2160ec;
$primary-hover: #174bbb;

$secondary: #437af1;
$secondary-hover: #5689f7;

$orange: #f29b4b;
$orange-muted: #c07630;

$green: #67c157;
$green-muted: #419732;

$red: #f26c4b;
$red-muted: #c04c2f;
